
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 330px;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0px;
    border-style: solid;
    border-color: #FFFFFF;
}

.custom-select__trigger {
    background: url("../img/arrow_down.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    height: 57px;
    line-height: 60px;
    /*background: #000C33;*/
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 4px;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000C33;
    width: 326px;
    height: 47px;
    cursor: pointer;
    transition: all 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #CECECE;
}

.custom-option.selected {
    background-color: #CECECE;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}