.hidden_obligation_popup {
  #actions {
    .create_obligation_popup {
      transform: translateX(378px);
    }
  }
}
.hidden_application_popup {
  #actions {
    .application_detail_popup {
      transform: translateX(100%);
    }
  }
}
.hidden_submission_popup {
  #actions {
    .submission_detail_popup {
      transform: translateX(100%);
    }
  }
}
.hidden_approved_popup {
  #actions {
    .approved_app_popup {
      transform: translateX(100%);
    }
  }
}
.hidden_declined_popup {
  #actions {
    .declined_app_popup {
      transform: translateX(100%);
    }
  }
}
.hidden_application_sub_popup {
  #actions {
    .application_sub_popup {
      transform: translateX(378px);
    }
  }
}
.hidden_planning_condition_popup {
  #actions {
    .planning_conditions_popup {
       transform: translateX(378px);
    }
  }
}
#actions {
  .link_material_group {
    .form-group {
      width: 327px;
      .material-icons {
        position: absolute;
        right: 15px;
        top: calc(50% - 16px);
      }
    }
  }
  .white_text_area ::placeholder {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #002143;
  }
  .white_text_area {
    textarea {
      padding: 16px 22.2px 16px 17.16px;
      height: 151px;
      width: 330px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 4px;
      color: #000C33;
      background: #ffffff;
    }
  }
  a {
    cursor: pointer;
  }
  .double_half_select {
    width: 86px;
  }
  .mt-60 {
    margin-top: 60px;
  }
  .mb-300 {
    margin-bottom: 300px;
  }
  .pr-12 {
    padding-right: 12px;
  }
  .custom_datefield {
    .attach_file_edit {
      width: 330px;
      height: 56px;
      .material-icons {
        font-size: 24px;
      }
    }
  }
  .application_sub_popup ::placeholder {
    color: #000c33;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .application_sub_popup, .planning_conditions_popup{
    position:fixed;
    top: 0;
    right: 0;
    width: 378px;
    height: 100vh;
    z-index: 1500;
    transition: all ease 0.5s;
    background: #FFFFFF;
    overflow: auto;
    padding: 30px;
    .save_btn {
      width: 327px;
      height: 61px;
      color: #FFFFFF;
    }
    .form-group {
      label {
        color: #000C33;
      }
    }
  }
  .application_detail_popup, .submission_detail_popup, .approved_app_popup, .declined_app_popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 1200;
    padding: 40px;
    transition: all ease 0.5s;
    background: #000c33;
  }
  .ml-0 {
    margin-left: 0px;
  }
  .create_obligation_popup ::placeholder {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000C33;
  }
  .create_obligation_popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 378px;
    height: 100vh;
    overflow: auto;
    z-index: 1200;
    padding: 20px;
    transition: all ease 0.5s;
    background: white;
    .save_btn {
      width: 327px;
      height: 64px;
    }
    .form-group {
      label {
        color: #000C33;
      }
    }

  }
  #planning_applications {

  }
}
@media (max-width: 767px) {
  #actions {
    .create_obligation_popup {
      padding-left: 40px;
    }
    .planning_conditions_popup {
      #form-main{
        input {
          max-width: 327px;
          .form-control {
            max-width:327px;
          }
        }
      }
    }
    #planning_applications, #planning_agreements {
      #form-main{
        select{
          max-width: 327px;
          .form-control {
            max-width:327px;
          }
        }
      }

    }
    .table-responsive {
      .table {
        tr {
          //max-width: 270px;
        }

      }
    }
  }
}